---
# tasks file for scoop
- name: Add Scoop buckets
  community.windows.win_scoop_bucket:
    name: "{{ item }}"
  loop:
    - main
    - extras

- name: Install required packages by scoop to update packages
  community.windows.win_scoop:
    name: main/git

- name: Install GUI packages
  when: scoop_gui_apps
  community.windows.win_scoop:
    name:
      - main/7zip
      - extras/keepassxc
      - extras/qownnotes
