---
# tasks file for scoop
- name: Add Scoop buckets
  community.windows.win_scoop_bucket:
    name: "{{ item }}"
  loop:
    - main
    - extras
    - nerd-fonts

- name: Install required packages
  community.windows.win_scoop:
    name: git  # Required by scoop to update packages

- name: Install dev packages
  when: scoop_dev_apps
  community.windows.win_scoop:
    name:
      - main/python
      - main/gnupg
      - main/oh-my-posh
      - main/restic
      - nerd-fonts/CascadiaCode-NF
      - nerd-fonts/CascadiaMono-NF

- name: Install GUI packages
  when: scoop_gui_apps
  community.windows.win_scoop:
    name:
      - main/7zip
      - extras/keepassxc
      - extras/nextcloud
      - jextras/qownnotes
