---
# tasks file for scoop
- name: Add Scoop buckets
  community.windows.win_scoop_bucket:
    name: "{{ item }}"
  loop:
    - main
    - extras

- name: Install required packages
  community.windows.win_scoop:
    name: git  # Required by scoop to update packages

- name: Install dev packages
  community.windows.win_scoop:
    name:
      - python
      - gnupg
      - oh-my-posh
      - restic

- name: Install GUI packages
  community.windows.win_scoop:
    name:
      - 7zip
      - keepassxc
      - nextcloud
      - qownnotes
