---
- name: Create directories for ansible
  ansible.builtin.file:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
    mode: '0755'
  loop:
    - {
      src: "{{ wsl_home_folder }}/Repos",
      dest: "{{ ansible_user_dir }}/Repos"
    }
    - {
      src: "{{ wsl_home_folder }}/Appdata/Local/gnupg",
      dest: "{{ ansible_user_dir }}/.gnupg"
    }
    - {
      src: "{{ wsl_home_folder }}/.ssh",
      dest: "{{ ansible_user_dir }}/.ssh"
    }
