---
- name: Install Firefox
  ansi_colle.mods.winget_cmd:
    id: Mozilla.Firefox

- name: Check Administrator Accoess
  become: true
  ansible.windows.win_powershell:
    script: |
      (New-Object Security.Principal.WindowsPrincipal(
        [Security.Principal.WindowsIdentity]::GetCurrent())).IsInRole(
        [Security.Principal.WindowsBuiltInRole]::Administrator)

- name: Set Firefox as default web browser
  become: true
  ansible.windows.win_regedit:
    path: "{{ item }}"
    name: ProgId
    data: FirefoxURL
    # data: MSEdgeHTM
  loop:
    - 'HKCU:\Software\Microsoft\Windows\Shell\Associations\UrlAssociations\http\UserChoiceLatest'
    - 'HKCU:\Software\Microsoft\Windows\Shell\Associations\UrlAssociations\https\UserChoiceLatest'
