---
- name: Install Firefox
  ansi_colle.mods.winget_cmd:
    id: Mozilla.Firefox

- name: Set Firefox as default web browser
  ansible.windows.win_regedit:
    become: true
    path: "{{ item }}"
    name: ProgId
    data: FirefoxURL
    # data: MSEdgeHTM
  loop:
    - 'HKCU:\Software\Microsoft\Windows\Shell\Associations\UrlAssociations\http\UserChoiceLatest'
    - 'HKCU:\Software\Microsoft\Windows\Shell\Associations\UrlAssociations\https\UserChoiceLatest'
