---
- name: Install Firefox
  ansi_colle.mods.winget_cmd:
    id: Mozilla.Firefox

# - name: Set Firefox as default web browser
#   ansible.windows.win_regedit:
#     path: "{{ item }}"
#     name: ProgId
#     data: FirefoxURL
#   loop:
#     - 'HKCU:\Software\Microsoft\Windows\Shell\Associations\UrlAssociations\http\UserChoiceLatest'
#     - 'HKCU:\Software\Microsoft\Windows\Shell\Associations\UrlAssociations\https\UserChoiceLatest'


- name: Set Firefox as default web browser
  become: true
  become_method: runas
  ansible.windows.win_regedit:
    path: 'HKCU:\Software\Microsoft\Windows\Shell\Associations\UrlAssociations\http\UserChoice'
    name: ProgId
    data: FirefoxURL
    state: present

- name: Set Firefox as default for https
  become: true
  become_method: runas
  ansible.windows.win_regedit:
    path: 'HKCU:\Software\Microsoft\Windows\Shell\Associations\UrlAssociations\https\UserChoice'
    name: ProgId
    data: FirefoxURL
    state: present
