---
# tasks file for base
- name: Enable UTC time in Windows
  ansible.windows.win_regedit:
    path: HKLM:\SYSTEM\CurrentControlSet\Control\TimeZoneInformation
    name: RealTimeIsUniversal
    data: 1
    type: dword

- name: Enable Dark Mode
  ansible.windows.win_regedit:
    path: "{{ item.path }}"
    name: "{{ item.name }}"
    type: dword
    data: 0
  loop:
    - { path: 'HKCU:\Software\Microsoft\Windows\CurrentVersion\Themes\Personalize',
        name: 'AppsUseLightTheme' }
    - { path: 'HKCU:\Software\Microsoft\Windows\CurrentVersion\Themes\Personalize',
        name: 'SystemUsesLightTheme' }

- name: Install PowerShell
  ansi_colle.mods.winget_cmd:
    id: Microsoft.PowerShell

- name: Enable Remote Desktop
  become: true
  block:
    - name: Setup Registry Key
      ansible.windows.win_regedit:
        path: 'HKLM:\System\CurrentControlSet\Control\Terminal Server'
        name: 'fDenyTSConnections'
        data: 0

    - name: Setup Firewall Rule
      community.windows.win_firewall_rule:
        group: Remote Desktop
        enabled: true

