---
# tasks file for base
- name: Install PowerShell & Firefox
  ansi_colle.mods.winget_cmd:
    id: "{{ item }}"
  loop:
    - Microsoft.PowerShell
    - Mozilla.Firefox

- name: Remove unused packages
  ansible.windows.win_package:
    product_id: "{{ item }}"
    state: absent
  loop:
    - MSTeams
    - Microsoft.MicrosoftSolitaireCollection
    - Microsoft.Paint
    - Microsoft.WindowsCamera

- name: Change Windows configuration by registry
  ansible.builtin.include_tasks:
    file: _regedit.yml
