---
# tasks file for base
- name: Enable UTC time in Windows
  ansible.windows.win_regedit:
    path: HKLM:\SYSTEM\CurrentControlSet\Control\TimeZoneInformation
    name: RealTimeIsUniversal
    data: 1
    type: dword

- name: Enable Dark Mode
  ansible.windows.win_regedit:
    path: "{{ item.path }}"
    name: "{{ item.name }}"
    type: dword
    data: 0
  loop:
    - { path: 'HKCU:\Software\Microsoft\Windows\CurrentVersion\Themes\Personalize',
        name: 'AppsUseLightTheme' }
    - { path: 'HKCU:\Software\Microsoft\Windows\CurrentVersion\Themes\Personalize',
        name: 'SystemUsesLightTheme' }

- name: Install PowerShell & Firefox
  ansi_colle.mods.winget_cmd:
    id: "{{ item }}"
  loop:
    - Microsoft.PowerShell
    - Mozilla.Firefox

- name: Show file extensions in Windows Explorer
  ansible.windows.win_regedit:
    path: 'HKCU:\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced'
    name: 'HideFileExt'
    type: dword
    data: 0

- name: Show hidden files in Windows Explorer
  ansible.windows.win_regedit:
    path: 'HKCU:\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced'
    name: 'Hidden'
    type: dword
    data: 1
