---
# tasks file for base
- name: Install PowerShell
  ansi_colle.mods.winget_cmd:
    id: Microsoft.PowerShell

- name: Remove unused packages
  ansible.windows.win_package:
    product_id: "{{ item }}"
    state: absent
  loop:
    - MSTeams
    - Microsoft.MicrosoftSolitaireCollection
    - Microsoft.Paint
    - Microsoft.WindowsCamera

- name: Install Firefox, cannot change default browser due to Microsoft Policy
  when: base_firefox
  ansi_colle.mods.winget_cmd:
    id: Mozilla.Firefox

- name: Change Windows configuration by registry
  ansible.builtin.include_tasks:
    file: _regedit.yml
