---
# tasks file for base
- name: Install packages through winget
  ansi_colle.mods.winget_cmd:
    id: "{{ item }}"
  loop:
    - Microsoft.PowerShell
    - Mozilla.Firefox  # cannot change default browser by PowerShell

- name: Install restic on machine scope, recommended by documentation
  become: true
  ansi_colle.mods.winget_cmd:
    id: restic.restic
    scope: machine

- name: Remove unused packages
  ansible.windows.win_package:
    product_id: "{{ item }}"
    state: absent
  loop:
    - MSTeams
    - Microsoft.MicrosoftSolitaireCollection
    - Microsoft.Paint
    - Microsoft.WindowsCamera
    - Microsoft.OutlookForWindows
    - Microsoft.WindowsFeedbackHub
    - MicrosoftCorporationII.QuickAssist
    - Microsoft.WindowsSoundRecorder

- name: Change Windows configuration by registry
  ansible.builtin.include_tasks:
    file: _regedit.yml
