---
- name: Install Visual Studio Code
  ansi_colle.mods.winget_cmd:
    id: "{{ item }}"
  loop:
    - Microsoft.VisualStudioCode
    - Docker.DockerDesktop

- name: Create a directory for CLI binaries path
  vars:
    dev_bin_path: "{{ ansible_user_dir }}\\AppData\\Local\\User32"
  block:
    - name: Create folder for Commands
      ansible.windows.win_file:
        path: "{{ dev_bin_path }}"
        state: directory

    - name: Ensure User32 is in User Path
      ansible.windows.win_path:
        scope: user
        elements: "{{ dev_bin_path }}"

- name: Configure PowerShell Settings
  vars:
    dev_pwsh_path: "{{ ansible_user_dir }}\\Documents\\PowerShell"
  block:
    - name: Create folder for PowerShell settings
      ansible.windows.win_file:
        path: "{{ dev_pwsh_path }}"
        state: directory

    - name: Copy profile.ps1
      ansible.windows.win_copy:
        src: profile.ps1
        dest: "{{ dev_pwsh_path }}\\profile.ps1"

