---
- name: Setup Windows
  hosts: windows
  vars_prompt:
    - name: ansible_become_pass
      prompt: "BECOME password"

  tasks:
    - name: Check Administrator Accoess
      become: true
      tags: always
      ansible.windows.win_powershell:
        script: |
          (New-Object Security.Principal.WindowsPrincipal(
            [Security.Principal.WindowsIdentity]::GetCurrent())).IsInRole(
            [Security.Principal.WindowsBuiltInRole]::Administrator)

  roles:
    - role: ansi_colle.windows.base
      vars:
        single_click: true
      tags: base
    - role: ansi_colle.windows.scoop
      tags: scoop
      vars:
        scoop_dev_apps: true
        scoop_gui_apps: true
    - role: ansi_colle.windows.dev
      tags: dev

