---
- name: Setup Windows
  hosts: windows
  vars_prompt:
    - name: ansible_become_pass
      prompt: "BECOME password"

  roles:
    - role: ansi_colle.windows.base
      vars:
        single_click: true
      tags: base
    - role: ansi_colle.windows.scoop
      tags: scoop
      vars:
        scoop_dev_apps: true
        scoop_gui_apps: true
    - role: ansi_colle.windows.dev
      tags: dev
